.custom-menu {
  display: none;
  z-index: 1000;
  position: absolute;
  overflow: hidden;
  border: 1px solid #CCC;
  white-space: nowrap;
  font-family: sans-serif;
  background: #FFF;
  color: #333;
  border-radius: 5px;
  margin: 0px;
  padding: 0px;
}


.custom-menu li {
  list-style: none;
  padding: 8px 12px;
  cursor: pointer;
}

.custom-menu li:hover {
  background-color: #DEF;
}

.glyphicon-eye-open {
  margin-right: 5px;
}
