bleach==3.1.0
cssselect==1.0.3
dj-database-url==0.5.0
Django==1.11.20
django-filter==2.0.0
django-treebeard==4.3
djangorestframework==3.9.1
flup==1.0.3
gunicorn==19.9.0
html5lib==0.9999999
lxml==4.3.2
Markdown==3.0.1
markdown2==2.3.7
pymongo==3.7.2
pyquery==1.4.0
python-dateutil==2.8.0
pytz==2018.9
six==1.12.0
webencodings==0.5.1
whitenoise==4.1.2
