dj-database-url
dj-email-url
environs
future
mysqlclient
Django==3.2.11
djangorestframework
pymongo
python-dateutil
whitenoise # useful for Heroku
django-treebeard
markdown2
bleach
django-querysetsequence
