# This is the production settings !
# All settings that do not change across environments should be in 'fir.settings.base'
from fir.config.base import *

from environs import Env

env = Env()
env.read_env(env.str('ENV_PATH', '.env'), recurse=False)

################################################################
##### Change these values
################################################################

ALLOWED_HOSTS = ['FIR.DOMAIN.COM']
CSRF_TRUSTED_ORIGINS = ['http://' + h for h in ALLOWED_HOSTS] + ['https://' + h for h in ALLOWED_HOSTS]

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.mysql',
        'NAME': 'fir',
        'USER': 'fir',
        'PASSWORD': '',
        'HOST': '',
        'PORT': '',
    }
}

# SMTP SETTINGS
EMAIL_HOST = 'SMTP.DOMAIN.COM'
EMAIL_PORT = 25

# Uncomment this line to set a different reply-to address when sending alerts
# REPLY_TO = other@address.com
EMAIL_FROM = '"NAME" <address@email>'

# Uncomment these lines if you want additional CC or BCC for all sent emails
# EMAIL_CC = ['address@email']
# EMAIL_BCC = ['address@email']

# SECRET KEY
SECRET_KEY = 'CHANGE_DUMMY_KEY_PLEASE'

################################################################

DEBUG = False
TEMPLATES[0]['OPTIONS']['debug'] = DEBUG

# List of callables that know how to import templates from various sources.
# In production, we want to cache templates in memory
TEMPLATES[0]['OPTIONS']['loaders'] = (
    ('django.template.loaders.cached.Loader', (
        'django.template.loaders.filesystem.Loader',
        'django.template.loaders.app_directories.Loader',
    )),
)

LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'formatters': {
        'verbose': {
            'format': '%(asctime)s: %(module)s %(filename)s:%(lineno)d(%(funcName)s)\n%(message)s'
        },
    },
    'handlers': {
        'console': {
            'level': 'DEBUG',
            'class': 'logging.StreamHandler',
            'formatter': 'verbose',
        },
    },
    'loggers': {
        'django.request': {
            'handlers': ['console'],
            'level': 'ERROR',
            'propagate': True,
        },
    },
}

# External URL of your FIR application (used in fir_notification to render full URIs in templates)
EXTERNAL_URL = 'http://fir.example.com'

# Show incident IDs in views?
INCIDENT_SHOW_ID = env.bool('INCIDENT_SHOW_ID', default=False)

# Incident ID prefix in views and links
INCIDENT_ID_PREFIX = env('INCIDENT_ID_PREFIX', "FIR-")
