{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block custom_js_top %}
<script src="{% static "js/d3.v3.min.js" %}"></script>
<script src="{% static "js/nv.d3.min.js" %}"></script>
{% endblock %}

{% block custom_js %}
<script src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>
<script src="{% static "js/excellentexport.js" %}"></script>
<script src="{% static "select/select2.min.js" %}"></script>
<script src="{% static "custom_js/export.js" %}"></script>

<script>
function refresh_stats() {
	serialized = $("#attributes").serialize();

	function date_if_needed(date) {
		if (typeof(date) != "object") {
			return new Date(date);
		}
		else {
			return date;
		}
	}

	function customTimeFormat(d) {
		d = date_if_needed(d);
		prefix = "";

		if (d.getUTCMilliseconds()) { format = ".%L"; }
		else if (d.getUTCSeconds()) { format = ":%S"; }
		else if (d.getUTCMinutes()) { format = "%H:%M"; }
		else if (d.getUTCHours()) { format = "%d %Hh"; }
		else if (d.getUTCDate() != 1 && d.getUTCDay() != 0) { format = "%a %d" }
		else if (d.getUTCDate() != 1) { format = "%U"; prefix = "W" }
		else if (d.getUTCMonth()) { format = "%B"; }
		else { format = "%Y"; }

		format = d3.time.format.utc(format);

		if (prefix == "W") {
			w = parseInt(format(d)) + 1;
			return prefix + w;
		}
		else {
			return prefix + format(d);
		}
	}

	// Update main statistics
	$.getJSON('/stats/data/attributes/basic/?' + serialized, function (data) {
		var main = $('#main_statistics');
		var text = "{% trans 'Incidents count:' %}" + ' ' + data.incidents + ' / ' + "{% trans 'With attribute set:' %}" + ' ' + data.with_attribute;

		for (attribute in data.attributes) {
			for (type in data.attributes[attribute]) {
				var a = $('#attribute_' + attribute);
				var unit = a.attr('data-unit');
				text = text + '<br />' + type + ' ' + attribute + ': ' + data.attributes[attribute][type];
				if (unit != 'count') {
					text = text + ' ' + unit;
				}
			}
		}

		main.html('<h4>' + text + '</h4>');
	});

	// Update statistics over time
	$.getJSON('/stats/data/attributes/over_time/?' + serialized, function(data) {
		$('#attribute_over_time svg').show();
		$('#attribute_over_time svg').empty();

		nv.addGraph(function () {
			var chart = nv.models.linePlusBarChart()
				.margin({top: 30, right: 90, bottom: 60, left: 90})
				.color(d3.scale.category10().range())
				.interpolate('monotone');

			chart.lines.xScale(d3.time.scale.utc());
			chart.bars.xScale(d3.time.scale.utc());

			// Display labels on axis
			chart.xAxis.axisLabel('Time').showMaxMin(false).tickFormat(customTimeFormat);

			var y1Axis = $('[name="bars"] :selected').text();
			var unit = $('[name="bars"] :selected').attr('data-unit');
			if (unit != undefined && unit != 'count') {
				y1Axis = y1Axis + ' (in ' + unit + ')';
			}
			chart.y1Axis.axisLabel(y1Axis);

			var y2Axis = ''
			unit = ''
			$('.attribute :checked').each(function (index) {
				if (index != 0) {
					y2Axis = y2Axis + ', ';
				}
				else {
					unit = $(this).attr('data-unit');
				}
				y2Axis = y2Axis + $(this).attr('data-name');
			});
			if (unit != undefined && unit != 'count') {
				y2Axis = y2Axis + ' (in ' + unit + ')';
			}
			chart.y2Axis.axisLabel(y2Axis);


			d3.select('#attribute_over_time svg')
				.datum(data)
				.transition().duration(300)
				.call(chart);

			nv.utils.windowResize(chart.update);

			return chart;
		});
	});

	// Display table of matching incidents
	$.getJSON('/stats/data/attributes/table/?' + serialized, function(data) {
		// Clear all content
		var incidents_table = $('#incidents_table');
		incidents_table.empty();

		// Display correct incidents number
		$('#incident_count').text(data.length);

		// Create headers
		var table = $('<table id="incident_table" class="table table-hover table-condensed sortable followup-table">');
		var thead = $('<thead>');
		var tbody = $('<tbody>');
		var tr = $('<tr />');
		tr.append('<th>'+'{% trans "Date" %}'+'</th>');
		tr.append('<th>'+'{% trans "Category" %}'+'</th>');
		tr.append('<th>'+'{% trans "Subject" %}'+'</th>');
		tr.append('<th>'+'{% trans "Business&nbsp;Lines" %}'+'</th>');
		for (attribute in data[0].attributes) {
			if (data[0].attributes.hasOwnProperty(attribute)) {
				tr.append('<th>' + attribute + '</th>');
			}
		}
		thead.append(tr);
		table.append(thead);

		// Create body
		$.each(data, function(key, incident) {
			tr = $('<tr />');
			tr.append("<td>"+moment(incident.date, 'YYYY-MM-DD HH:mm').format('YYYY-MM-DD HH:mm')+"</td>");
			tr.append("<td>"+incident.category+"</td>");
			tr.append("<td><a href='"+incident.url+"'>"+incident.subject+"</a></td>");
			tr.append("<td>"+incident.business_lines_names+"</td>");
			for (attribute in incident.attributes) {
				if (incident.attributes.hasOwnProperty(attribute)) {
					tr.append("<td>"+incident.attributes[attribute]+"</td>");
				}
			}
			tbody.append(tr);
		});
		table.append(tbody);
		incidents_table.append(table);
	});
}

$(document).ready(function() {
  $("#id_concerned_business_lines").select2({ dropdownAutoWidth: true });
  $('#severity_comparator').select2({minimumResultsForSearch: -1});
  $('#id_status').select2({minimumResultsForSearch: -1});
  $('#id_detection').select2({minimumResultsForSearch: -1});
  $('#id_severity').select2({minimumResultsForSearch: -1});
  $('#id_actor').select2({minimumResultsForSearch: -1});
  $('#id_plan').select2({minimumResultsForSearch: -1});
  $('#id_confidentiality').select2({minimumResultsForSearch: -1});
  $('#bars').select2({minimumResultsForSearch: -1});

  $('#from_date').datetimepicker({
    format: 'yyyy-mm-dd hh:ii',
    minView: 1,
    autoclose: true,
    todayBtn: true,
    weekStart: 1
  });

  $('#to_date').datetimepicker({
    format: 'yyyy-mm-dd hh:ii',
    minView: 1,
    autoclose: true,
    todayBtn: true,
    weekStart: 1
  });

  $('#refresh').click(function (event) {
  	refresh_stats();
  	event.preventDefault();
  });

  // Only allow selection of several attributes if they have the same unit
  $('.attribute :checkbox').change(function () {
  	if ($(this).is(':checked')) {
  		unit = $(this).attr('data-unit');
	  	$('.attribute :checkbox').each(function (i) {
	  		if ($(this).attr('data-unit') != unit) {
	  			$(this).prop('disabled', true);
	  		}
	  	});
  	}
  	else if ($('.attribute :checkbox:checked').length == 0) {
  		$('.attribute :checkbox').each(function (i) {
  			$(this).prop('disabled', false);
  		});
  	}
  });
});
</script>
{% endblock %}

{% block custom_css %}
<link href="{% static "select/select2.css" %}" rel="stylesheet"/>
<link href="{% static "css/bootstrap-datetimepicker.min.css" %}" rel="stylesheet"/>
<link href="{% static "css/nv.d3.min.css" %}" rel="stylesheet" />

<style>

/* form */

.form-group {
	margin: 0 5px 10px 5px;
}

#search-bar {
    margin: 0;
}

fieldset.fields {
  float:left;
  width:300px;
}

.checkbox {
  margin-top: 0;
}

.checkbox+.checkbox {
  margin-top: 0;
}

fieldset.categories {
  float:left;
}

fieldset.bars {
	clear: both;
	float: left;
	width: 300px;
	margin-top: 15px;
}

fieldset.attributes {
	float: left;
	margin-top: 15px;
}

div.attribute label {
	display: inline-block;
	margin-right: 15px;
}

.categories label.checkbox {
  width:110px;
  float:left;
  padding-top: 0px !important;
  margin-bottom: 5px;
}

div.categories {
  width:360px;
  height:200px;
}

#severity_comparator {
  width:20px;
}

#sandbox input.date {
  width:90px;
}

.btn-mini {
  margin-top:0px;
}

.separator {
  clear:both;
  margin:30px 0 30px 0;
}

h4 .smaller {
  font-size: 10px;
  font-weight: normal;
}

input.date {
	width: 120px;
	font-size: 11px;
}

@media print {
	.nv-point-paths {
		display: none;
	}
}

.clear {
	clear: both;
}

</style>
{% endblock %}

{% block content %}
<form action="{% url 'stats:attributes' %}" method='post' id='attributes' class='noprint'>

  <fieldset class='fields'>

  <div style='margin-top:0;float:left' class='form-group'>
    <label for="from_date" class="control-label">{% trans "From" %}</label>
    <div class='controls'>
      <input class='date form-control' id="from_date" name="from_date" type="text" value="{{ start }}"/>
    </div>
  </div>

  <div style='margin-top:0' class='form-group'>
    <label for="to_date" class="control-label">{% trans "To" %}</label>
    <div class='controls'>
      <input class='date form-control' id="to_date" name="to_date" type="text" value="{{end}}" />
    </div>
  </div>

  <div class='form-group'>
    <label for="id_detection" class="control-label">{% trans "Detection" %}</label>
    <div class='controls'>
      {{ form.detection }}
    </div>
  </div>

  <div class='form-group'>
    <label for="id_severity" class="control-label">{% trans "Severity" %}</label>
    <div class='controls'>
      <select name='severity_comparator' id='severity_comparator'>
        <option value="et">=</option>
        <option value="lt">&lt;</option>
        <option value="lte">&lt;=</option>
        <option value="gt">&gt;</option>
        <option value="gte">&gt;=</option>
      </select>
      {{ form.severity }}
    </div>
  </div>

  </fieldset>
  <fieldset class='categories'>
    <div class='form-group'>
      <label for="id_category" class="control-label">{% trans "Categories" %}</label>
      <div class='controls categories checkbox'>
        {% for c in categories %}
          <label class="checkbox">
            <input type="checkbox" name="category_selection" {% if c.id in categories_checked %}checked='checked'{% endif %} value="{{c.id}}">{{c.name}}
          </label>
        {% endfor %}
      </div>
    </div>
    </fieldset>

    <fieldset class='businessline'>
    	<div class='form-group'>
			<label for="id_concerned_business_lines" class="control-label">{% trans "Business lines" %}</label>
	  		<div class='controls' id='concerned_business_lines'>
				{{ form.concerned_business_lines }}
	  		</div>
	  	</div>

		<div class='form-group checkbox'>
      		<label class="checkbox">
				<input type="checkbox" name="is_incident" value="incident"> {% trans "Incidents only" %}
      		</label>

      		<label class="checkbox">
				<input type="checkbox" name="is_major" value="major"> {% trans "Major incidents only" %}
      		</label>
      	</div>

    </fieldset>

  <fieldset class='bars'>
  	<div class='form-group'>
		<label for="bars" class="control-label">{% trans "Bars" %}</label>
    	<div class='controls'>
	      	<select name='bars' id='bars'>
				<option value="0">{% trans "Incidents" %}</option>
	        	{% for attribute in attributes %}
	        		<option value="{{attribute.id}}" data-unit="{{attribute.unit}}">{{attribute.name}}</option>
	        	{% endfor %}
	      	</select>
	    </div>
	</div>

	<div class='form-group'>
		<div class="checkbox">
		    <label class="checkbox">
				<input type="checkbox" name="only_with_attribute" checked="checked" /> {% trans "Only incidents with attribute set" %}
	      	</label>

		    <label class="checkbox">
				<input type="checkbox" name="total" value="total" checked="checked"> {% trans "Total" %}
	      	</label>

	      	<label class="checkbox">
				<input type="checkbox" name="average" value="average"> {% trans "Average" %}
	      	</label>

	      	<label class="checkbox">
				<input type="checkbox" name="deviation" value="deviation"> {% trans "Standard Deviation" %}
	      	</label>
	    </div>
	</div>
  </fieldset>
  <fieldset class='attributes'>
  	<div class='form-group'>
		<label for="id_attribute" class="control-label">{% trans "Attributes" %}</label>
  		<div class='controls attribute checkbox'>
  		{% for attribute in attributes %}
  			<label class='checkbox'>
  				<input type='checkbox' name='attribute_selection' value='{{attribute.id}}' id='attribute_{{attribute.name}}' data-name='{{attribute.name}}' data-unit='{{attribute.unit}}' />
  				{{ attribute.name }}
  			</label>
  		{% endfor %}
  		</div>
  	</div>
  </fieldset>

  {% csrf_token %}
  <div class='clear'>
	<button class="btn btn-primary" type="button" id="refresh">{% trans "Go" %}</button>
  </div>

</form>


<div id='main_statistics'></div>

<div class='graph' style='width: 1000px;'>
	<h2>{% trans "Over time" %}</h2>
	<div class='graph' id='attribute_over_time'>
		<svg height="500px" style="display: none;" />
	</div>
</div>

<h2>{% trans "Matching incidents" %} (<span id='incident_count'>0</span>)</h2>
<div>Export to <a download="incidents.tsv" class="export-link" href="#" data-table="incident_table">TSV</a> or <a download="incidents.csv" class="export-link" href="#" data-table="incident_table" data-delimiter=",">CSV</a></div><br />
<div id='incidents_table'>
</div>

{% endblock %}
