{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block header %}
<h1 style='float:left;margin-right:20px'>{%  trans "Major incidents in last quarter" %}</h1>
{%endblock%}

{% block custom_js %}
<script src="{% static "js/excellentexport.js" %}"></script>
<script src="{% static "custom_js/export.js" %}"></script>
{% endblock %}

{% block content %}

<p class='separator'>&nbsp;</p>
<h3>{%  trans "Basel categories" %}</h3>
<div class='graph'>
	<div class='graph'>
		<table id='table' class='table table-condensed'>
			<tr>
			{%for key in bale.0 %}
				<th>{{ key }}</th>
			{%endfor%}
			</tr>
			{% for cat in bale|slice:"1:" %}
			<tr>
				{% for key in cat %}
					<td>{{ key }}</td>
				{% endfor %}
			</tr>
			{%endfor%}
		</table>
	</div>
</div>

<h3>{%  trans "CERT categories" %}</h3>
<div class='graph'>
	<div class='graph'>
		<table id='table' class='table table-condensed'>
			<tr>
			{%for key in cert.0 %}
				<th>{{ key }}</th>
			{%endfor%}
			</tr>
			{% for cat in cert|slice:"1:" %}
			<tr>
				{% for key in cat %}
					<td>{{key}}</td>
				{% endfor %}
			</tr>
			{%endfor%}
		</table>
	</div>
</div>


<h3>{%  trans "Business Line ventilation" %}</h3>
<div class='graph'>
	<div class='graph'>
		<table id='table' class='table table-condensed'>
			<tr>
			{% for key in bls.0 %}
				<th>{{ key }}</th>
			{%endfor%}
			</tr>
			{% for bl in bls|slice:"1:" %}
			<tr>
				{% for key in bl %}
					<td>{{ key }}</td>
				{% endfor %}
			</tr>
			{%endfor%}
		</table>
	</div>
</div>

<h2>{%  trans "Major Incidents" %}</h2>
<div>Export to <a download="incidents.tsv" class="export-link" href="#" data-table="incident_table">TSV</a> or <a download="incidents.csv" class="export-link" href="#" data-table="incident_table" data-delimiter=",">CSV</a></div>
<br />
<table id="incident_table" class="table table-hover table-condensed sortable">
			<thead>
				<tr>
					<th>{%  trans "Date" %}</th>
					<th>{%  trans "Subject" %}</th>
					<th>{%  trans "Category" %}</th>
					<th>{%  trans "Lvl" %}</th>
					<th>{%  trans "Severity" %}</th>
					<th>{%  trans "Business Line" %}</th>
					<th>{%  trans "Status" %}</th>
					<th>{%  trans "Detection" %}</th>
					<th>{%  trans "Incident Leader" %}</th>
					<th>{%  trans "Last Action" %}</th>
					<th>{%  trans "Opened by" %}</th>
					<th>{%  trans "Plan" %}</th>

				</tr>
			</thead>
		{% for incident in incident_list %}
		<tr class='{{ incident.status }}'>
			<td>{{ incident.date|date:"d-m-Y" }}</td>
			<td><a href="{% url 'incidents:details' incident.id %}">{{ incident.subject }}</a></td>
			<td>{{ incident.category }}</td>
			<td>{{ incident.get_confidentiality_display }}</td>
			<td><span class='badge threatcon-{{incident.severity}}'>{{ incident.severity }}</span></td>
			<td>{{ incident.concerned_business_line }}</td>
			<td>{{ incident.get_status_display }}</td>
			<td>{{ incident.detection }}</td>
			<td>{{ incident.actor }}</td>
			<td>{{ incident.get_last_comment.action }} <small class='noprint'>({{ incident.get_last_comment.date|date:"DATETIME_FORMAT" }})</small></td>
			<td>{{ incident.opened_by }}</td>
			<td>{{ incident.plan }}</td>
		</tr>
		{% endfor %}

	</table>

{% endblock %}
