{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}
{% load authorization %}

{% block title %}
{%  trans "Quarterly statistics" %} - {{bl.name}} - {% now "Y-m" %}
{% endblock %}
{% block header %}
<div class='printheader print'>

	<table>
		<tr>
			<td class='printheader-left' style='width:200px'>
				<img src="{% static "img/logo.jpg" %}" alt="Logo" style="width:200px; height:auto;">
			</td>
			<td class='printheader-center'>
				{%  trans "Quarterly statistics" %} {% now "Y/m" %} [C2]
			</td>
			<td class='printheader-right' style='width:10px'>
				C2
			</td>
		</tr>
	</table>
</div>

<div class='print-title'>
	<h1>{% blocktrans with bl_name=bl.name %}Incidents quarterly statistics for <br /> {{bl_name}}{% endblocktrans %}</h1>
	<div class='noprint' id='header'>
	<select id='bl-select'>
		{% for b in bls %}
			<option value="{{ b.name }}" {%if b.name == bl.name%} selected="selected"{%endif%}>{{ b }}</option>
		{%endfor%}
	</select>
	</div>
</div>
{%endblock%}

{% block custom_js_top %}

<script src="{% static "js/d3.v3.min.js" %}"></script>
<script src="{% static "custom_js/stats.js" %}"></script>

{%endblock%}

{% block custom_css %}
<style>

.graph {
  font: 12px sans-serif;
}

.graph .graph {
	float:left;
}

.graph .pie {
  margin:0 10px 0 10px;
}

.graph .graph.bar {
	margin-top:-25px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #6c7086;
  stroke-width: 1.5px;
}

.bar rect {
	fill: #6c7086;
}

.graph text {
	color:black;
}

.arc path {
  stroke: #fff;
}

#variation_table td {
	text-align: center;
}

#variation_table th {
	text-align: center;
}

.bootstrap-select {
	margin-top:20px;
}

.separator {
  clear:both;
  margin:30px 0 30px 0;
}


</style>

{%endblock%}


{% block content %}
{%  has_perm 'incidents.handle_incidents' obj=event as can_handle_incident %}
{% if can_handle_incident %}
<a href="{% url 'stats:close_old' %}">{% trans "Close old incidents for all BLs" %}</a>
<p class='separator'>&nbsp;</p>
{% endif %}



<p class='separator noprint'>&nbsp;</p>

<h2>{% trans "Monthly forecast" %}</h2>

<div class='graph'>
	<h4>{% trans "Total incidents on your Business Line" %}</h4>
	<br />
	<div class='graph' id="incidents" style="float:left;">
	</div>
	<div class='graph' style="float:left;">
		<table id='variation_table' class='table table-condensed'></table>
	</div>
</div>

<p class='separator noprint'>&nbsp;</p>

<div style='float:left;margin-top:-20px' class='graph'>
	<h4>{% trans "Incident breakdown by severity" %}</h4><br />
	<div class='graph' id="severity">
	</div>
	<div class='graph bar' id="severity_bar">
	</div>
</div>

<p class='separator newpage'>&nbsp;</p>
<p class='separator'>&nbsp;</p>

<div class='graph'>
	<h4>{% trans "Incident breakdown by entity" %}</h4><br />
	<div class='graph' id="entity">
	</div>
	<div class='graph bar' id="entity_bar">
	</div>
</div>

<p class='separator noprint'>&nbsp;</p>

<div class='graph' >
	<h4>{% trans "Incident breakdown by category" %}</h4><br />
	<div class='graph' id="category">
	</div>
	<div class='graph bar' id="category_bar">
	</div>
</div>

<p class='separator newpage'>&nbsp;</p>
<p class='separator'>&nbsp;</p>

<h2>{% trans "Incident Management" %}</h2>
<p class='separator noprint'>&nbsp;</p>
<div class='graph'>
	<h4>{% trans "Incident Management by incident leader (Business Line or CERT)" %}</h4><br />
	<div class='graph' id="actor">
	</div>
	<div class='graph bar' id="actor_bar">
	</div>
</div>

<p class='separator' style='clear:both'>&nbsp;</p>
<br style='clear:both' />

<div style='float:left'>
	<h4>{% trans "Monitored domains" %}</h4><br />
	<div class='graph' id="monitoring">
	</div>
</div>
<div style='float:left'>
	<h4>{% trans "Open incidents" %}</h4><br />
	<div class='graph' id="open">
	</div>
</div>
<div style='float:left'>
	<h4>{% trans "Blocked incidents" %}</h4><br />
	<div class='graph' id="blocked">
	</div>
</div>

<p class='separator newpage'>&nbsp;</p>
<p class='separator'>&nbsp;</p>

<h2>{% trans "Incident follow-up" %}</h2>
<div>Export to <a download="incidents.tsv" class="export-link" href="#" data-table="incident_table">TSV</a> or <a download="incidents.csv" class="export-link" href="#" data-table="incident_table" data-delimiter=",">CSV</a></div><br />
<table id="incident_table" class="table table-hover table-condensed sortable followup-table">
			<thead>
				<tr>
					<th>{% trans "Date" %}</th>
					<th>{% trans "FID" %}</th>
					<th>{% trans "Subject" %}</th>
					<th>{% trans "Category" %}</th>
					<th>{% trans "Lvl" %}</th>
					<th>{% trans "Svrt" %}</th>
					<th>{% trans "Business&nbsp;Line" %}</th>
					<th>{% trans "Status" %}</th>
					<th>{% trans "Det." %}</th>
					<th>{% trans "Incident Leader" %}</th>
					<th>{% trans "Last Action" %}</th>
					<th>{% trans "IH" %}</th>
					<th>{% trans "Plan" %}</th>

				</tr>
			</thead>
		{% for incident in incident_list %}
		{% has_perm 'incidents.view_incidents' obj=incident as can_view_incident %}
		<tr class='{{ incident.status }}'>
			<td>{{ incident.date|date:"Y/m/d" }}</td>
			<td>{{ incident.id }}</td>
			<td>
				{% if can_view_incident %}
					<a href="{% url 'incidents:details' incident.id %}">{{ incident.subject }}</a>
				{% else %}
					{{ incident.subject }}
				{% endif %}
			</td>
			<td>{{ incident.category }}</td>
			<td>{{ incident.get_confidentiality_display }}</td>
			<td><span class='badge threatcon-{{incident.severity}}'>{{ incident.severity }}</span></td>
			<td>{{ incident.get_business_lines_names }}</td>
			<td>{{ incident.get_status_display }}</td>
			<td>{{ incident.detection }}</td>
			<td>{{ incident.actor }}</td>
			<td>{{ incident.get_last_comment.action }} <small class='noprint relative-date'>({{ incident.get_last_comment.date|date:"Y-m-d G:i" }})</small></td>
			<td>{{ incident.opened_by }}</td>
			<td>{{ incident.plan }}</td>
		</tr>
		{% endfor %}

	</table>

<p class='separator newpage'>&nbsp;</p>
<h2>{% trans "Unclosed incidents older than three months" %}</h2>
<div>Export to <a download="incidents.tsv" class="export-link" href="#" data-table="old_incident_table">TSV</a> or <a download="incidents.csv" class="export-link" href="#" data-table="old_incident_table" data-delimiter=",">CSV</a></div><br />
<table id="old_incident_table" class="table table-hover table-condensed sortable followup-table">
			<thead>
				<tr>
					<th>{% trans "Date" %}</th>
					<th>{% trans "FID" %}</th>
					<th>{% trans "Subject" %}</th>
					<th>{% trans "Category" %}</th>
					<th>{% trans "Lvl" %}</th>
					<th>{% trans "Svrt" %}</th>
					<th>{% trans "Business&nbsp;Line" %}</th>
					<th>{% trans "Status" %}</th>
					<th>{% trans "Det." %}</th>
					<th>{% trans "Incident Leader" %}</th>
					<th>{% trans "Last Action" %}</th>
					<th>{% trans "IH" %}</th>
					<th>{% trans "Plan" %}</th>

				</tr>
			</thead>
		{% for incident in unclosed_incident_list %}
        {%  has_perm 'incidents.view_incidents' obj=incident as can_view_incident %}
		<tr class='{{ incident.status }}'>
			<td>{{ incident.date|date:"Y/m/d" }}</td>
			<td>{{ incident.id }}</td>
			<td>
			{% if can_view_incident %}
				<a href="{% url 'incidents:details' incident.id %}">{{ incident.subject }}</a>
			{% else %}
				{{ incident.subject }}
			{% endif %}
			</td>
			<td>{{ incident.category }}</td>
			<td>{{ incident.get_confidentiality_display }}</td>
			<td><span class='badge threatcon-{{incident.severity}}'>{{ incident.severity }}</span></td>
			<td>{{ incident.get_business_lines_names }}</td>
			<td>{{ incident.get_status_display }}</td>
			<td>{{ incident.detection }}</td>
			<td>{{ incident.actor }}</td>
			<td>{{ incident.get_last_comment.action }} <small class='noprint relative-date'>({{ incident.get_last_comment.date|date:"Y-m-d G:i" }})</small></td>
			<td>{{ incident.opened_by }}</td>
			<td>{{ incident.plan }}</td>
		</tr>
		{% endfor %}

	</table>

<p class='separator newpage'>&nbsp;</p>
<div class='logo_end'>
	<img src="{% static "img/logo.jpg" %}" width="400" alt="Logo"> <br />
</div>


{% endblock %}
{%block custom_js %}
<script src="{% static "js/excellentexport.js" %}"></script>
<script src="{% static "custom_js/export.js" %}"></script>

<script>


	generate_variation_chart("#variation_table", '{% url 'stats:data_incident_variation' bl.name %}')

	generate_bar_chart("#incidents", "{% url 'stats:data_quarterly_bl' bl.name 'incidents' %}", 300, 250)

	generate_multiple_donut_chart("#severity", "{% url 'stats:data_quarterly_bl' bl.name 'severity' %}", 700, 80, 50)
	generate_stacked_chart("#severity_bar", "{% url 'stats:data_quarterly_bl' bl.name 'severity' %}", 300, 200, '', 'true')


	generate_multiple_donut_chart("#entity", "{% url 'stats:data_quarterly_bl' bl.name 'entity' %}", 700, 80, 50)
	generate_stacked_chart("#entity_bar", "{% url 'stats:data_quarterly_bl' bl.name 'entity' %}", 300, 300)


	generate_multiple_donut_chart("#category", "{% url 'stats:data_quarterly_bl' bl.name 'category' %}", 700, 80, 50)
	generate_stacked_chart("#category_bar", "{% url 'stats:data_quarterly_bl' bl.name 'category' %}", 300, 200)

	generate_multiple_donut_chart("#actor", "{% url 'stats:data_quarterly_bl' bl.name 'actor' %}", 700, 80, 50)
	generate_stacked_chart("#actor_bar", "{% url 'stats:data_quarterly_bl' bl.name 'actor' %}", 300, 200)


	generate_bar_chart("#monitoring", "{% url 'stats:data_quarterly_bl' bl.name 'monitoring' %}", 200, 200)
	generate_bar_chart("#open", "{% url 'stats:data_quarterly_bl' bl.name 'open' %}", 200, 200)
	generate_bar_chart("#blocked", "{% url 'stats:data_quarterly_bl' bl.name 'blocked' %}", 200, 200)

</script>
<script>
$(document).ready(function() {
	$('#bl-select').change(function(){
		window.location.href = "/stats/quarterly/"+$(this).val();
	});
	$('#header button').addClass('btn-mini')
});
</script>
{% endblock %}
