{% extends 'base.html' %}
{% load i18n %}
{% load staticfiles %}

{% block header %}
<h1>{% blocktrans with current_year=year previous_year=year|add:-1 %}Comparison for {{ current_year }} - {{previous_year}}{% endblocktrans %}</h1>
{%endblock%}


{% block custom_js_top %}
<script src="{% static "js/d3.v3.min.js" %}"></script>
<script src="{% static "custom_js/stats.js" %}"></script>

{%endblock%}

{% block custom_css %}
<style>

.graph {
  font: 12px sans-serif;
  float:left;
}

.graph .graph {
  float:left;
}

.graph .graph.bar {
  margin-top:-25px;
  margin-left:50px;
}

.graph .pie {
  margin:10px 10px 10px 10px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: #6c7086;
  stroke-width: 1.5px;
}

.bar rect {
	fill: #6c7086;
}

.graph text {
	color:black;
}

.arc path {
  stroke: #fff;
}

.separator {
  clear:both;
  margin:30px 0 30px 0;
}

</style>

{%endblock%}


{% block content %}

<div class='graph'>
  <h3>{% trans "Global activity volume (incidents+events)" %}</h3>
  <div class='graph' id="global_activity_volume">
  </div>
</div>

<p class='separator'>&nbsp;</p>

<div class='graph'>
  <h4>{% trans "Category incident+events evolution" %} ({{year|add:-1}} - {{year}})</h4>
  <div class='graph' id="bl_category_evolution">
  </div>
</div>


<div class='graph'>
  <h4>{% trans "Incidents+events by category" %} ({{year}})</h4>
  <div class='graph' id="bl_category_donut">
  </div>
</div>

<p class='separator'>&nbsp;</p>
<p class='separator'>&nbsp;</p>

<div class='graph'>
  <h3>{% trans "Yearly incidents" %}</h3>
  <div class='graph' id="yearly_incidents">
  </div>
</div>


<p class='separator'>&nbsp;</p>


<div class='graph'>
  <h4>{% trans "Business Line incident evolution" %} ({{year|add:-1}} - {{year}})</h4>
  <div class='graph' id="bl_evolution">
  </div>
</div>


<div class='graph'>
  <h4>{% trans "Incidents by business line" %} ({{year}})</h4>
  <div class='graph' id="bl_donut">
  </div>
</div>

<p class='separator'>&nbsp;</p>
<p class='separator'>&nbsp;</p>


<div class='graph'>
  <h3>{% trans "Yearly events" %}</h3>
  <div class='graph' id="yearly_events">
  </div>
</div>

<p class='separator'>&nbsp;</p>

<div class='graph'>
  <h4>{% trans "Business Line event evolution" %} ({{year|add:-1}} - {{year}})</h4>
  <div class='graph' id="bl_events_evolution">
  </div>
</div>


<div class='graph'>
  <h4>{% trans "Events by business line" %} ({{year}})</h4>
  <div class='graph' id="bl_event_donut">
  </div>
</div>


<br style='clear:both' />
<br style='clear:both' />

<script>

   // incidents + events by category

   generate_multiple_line_chart('#global_activity_volume', "{% url 'stats:data_yearly_compare' year 'all' %}", 1000, 300, "%Y-%m", 'All events')
   generate_bar_chart('#bl_category_evolution', "{%url 'stats:data_yearly_evolution' year 'all' 'category' %}", 600, 400)
   generate_donut_chart('#bl_category_donut', "{%url 'stats:data_yearly_evolution' year 'all' 'category' %}", 400, 180)


   // incidents by bl

   generate_multiple_line_chart('#yearly_incidents', "{% url 'stats:data_yearly_compare' year 'incidents' %}", 1000, 300, "%Y-%m", "Incidents")
   generate_bar_chart('#bl_evolution', "{%url 'stats:data_yearly_evolution' year 'incidents' 'bl' %}", 400, 400)
   generate_donut_chart('#bl_donut', "{%url 'stats:data_yearly_evolution' year 'incidents' 'bl' %}", 400, 180)

   // events by bl

   generate_multiple_line_chart('#yearly_events', "{% url 'stats:data_yearly_compare' year 'events' %}", 1000, 300, "%Y-%m", 'Events')
   generate_bar_chart('#bl_events_evolution', "{%url 'stats:data_yearly_evolution' year 'events' 'bl' %}", 500, 400)
   generate_donut_chart('#bl_event_donut', "{%url 'stats:data_yearly_evolution' year 'events' 'bl' %}", 400, 180)

</script>
{% endblock %}
