{% extends "base.html" %}
{% load add_css_class %}
{% load i18n %}
{% load staticfiles %}
{% load fir_plugins %}


{% block content %}
    <div class="container-fluid ">
            <div class="row header">
                <h1 class="col-sm-11">{% blocktrans with user_name=user.username %}{{ user_name }}'s profile{% endblocktrans %}</h1>
            </div>
            <div class="row">
				{% csrf_token %}
                <form action="{% url 'user:profile' %}" method="post">
                    {% csrf_token %}
                    <div class="col-sm-11">
                        <fieldset>
                            <legend>{% trans "Main profile" %}</legend>
                            {% if error_message %}
                                <p class='text-error'>{{ error_message }}</p>
                            {% endif %}

                            <div class="row">
                                <div class="col-sm-6 form-group{% if form.incident_number.errors%} has-error{%endif%}">
                                    <label for="id_incident_number">{% trans "Number of incidents per page" %}</label>
                                    {{ form.incident_number|add_css_class:"form-control" }}
                                    {% include 'events/_form_errors.html' with errors=form.incident_number.errors %}
                                </div>
                                <div class="col-sm-6 checkbox aligned-with-stack{% if form.hide_closed.errors%} has-error{%endif%}">
                                    <label>{{ form.hide_closed }} {% trans "Hide closed events?" %}</label>
                                    {% include 'events/_form_errors.html' with errors=form.hide_closed.errors %}
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
                    </div>
                </form>
            </div>
    {% plugin_point "user_profile" %}
    </div>
{% endblock %}