from django.conf.urls import patterns, include, url

# Uncomment the next two lines to enable the admin:
from django.contrib import admin
admin.autodiscover()

urlpatterns = patterns('',
    url(r'^incidents/', include('incidents.urls', namespace='incidents')),
    url(r'^search/$', 'incidents.views.search', name='search'),
    url(r'^events/', include('incidents.custom_urls.events', namespace='events')),
    url(r'^login/', 'incidents.views.user_login', name='login'),            # have a "main module"
    url(r'^logout/', 'incidents.views.user_logout', name='logout'),         # main module
    url(r'^artifacts/', include('incidents.custom_urls.artifacts', namespace='artifacts')),
    url(r'^stats/', include('incidents.custom_urls.stats', namespace='stats')),
    url(r'^ajax/', include('incidents.custom_urls.ajax', namespace='ajax')),
    url(r'^user/', include('incidents.custom_urls.user', namespace='user')),
    url(r'^dashboard/', include('incidents.custom_urls.dashboard', namespace='dashboard')),
    url(r'^admin/', include(admin.site.urls)),
    url(r'^$', 'incidents.views.index'),

    # alerting
    url(r'^alerting/', include('fir_alerting.urls', namespace='alerting')),

    # todos
    url(r'^todos/', include('fir_todos.urls', namespace='todos')),

    # nuggets
    url(r'^nuggets/', include('fir_nuggets.urls', namespace='nuggets')),
)
