{% load i18n %}
{% load authorization %}
{% load fir_plugins %}
{% if incident_list %}
	<div class='incident_table' data-order-param='{{ order_param }}' data-asc='{{ asc }}'>
		<table class='table table-hover table-condensed'>
			<thead>
            {% trans "Date" as t_date %}
            {% trans "Category" as t_category %}
            {% trans "Subject" as t_subject %}
            {% trans "Severity" as t_severity %}
            {% trans "Status" as t_status %}
            {% trans "Last Action" as t_lastaction %}
            {% trans "None" as t_none %}
				<tr>
          <th>ID</th>
					{% include 'events/column.html' with name=t_date field='date' %}
					<th></th>
					<th>Type</th>
					{% include 'events/column.html' with name=t_category field='category' %}
					{% include 'events/column.html' with name=t_subject field='subject' %}
					{% include 'events/column.html' with name=t_severity field='severity' %}
					{% include 'events/column.html' with name=t_status field='status' %}
					<th>{% trans "Assignee" %}</th>
					{% if incident_view %}
						{% include 'events/column.html' with name=t_lastaction field='last_action' %}
					{% endif %}
				</tr>
			</thead>
			<tbody>
				{% for incident in incident_list %}
					{%  has_perm 'incidents.handle_incidents' obj=incident as can_handle_incident %}
					<tr class='{{ incident.status }}'>
						<td>{{ incident|object_id }}</td>
						<td class='incident_date_column'>{{ incident.date|date:'Y-m-d' }}</td>
						<td>

						</td>
						<td>{% if incident.is_incident %}
						Incident
						{% else %}
						Event
						{% endif %}</td>
						<td>{{ incident.category }}</td>
						
						{% if incident.is_incident %}
							<td><a href="{% url 'incidents:details' incident.id %}">{{ incident.subject }}</a></td>
						{% else %}
							<td><a href="{% url 'events:details' incident.id %}">{{ incident.subject }}</a></td>
						{% endif %}
						<td><span class='badge threatcon-{{ incident.severity }}'>{{ incident.severity }}</span></td>
						<td>{{ incident.get_status_display }}</td>
						<td>{{ incident.assignee }}</td>

						{% if incident_view %}
							<td>
								{% if incident.comments_set.count > 0%}
									{{ incident.get_last_comment.action }}
									<small class='relative-date'>
										({{ incident.get_last_comment.date|date:'Y-m-d G:i' }})
									</small>
								{% else %}
									{{ t_none }}
								{%endif%}
							</td>
						{% endif %}
					</tr>
				{% endfor %}
			</tbody>
		</table>

		{% if incident_list.paginator %}
			<div>
			    <span class="step-links">
			        {% if incident_list.has_previous %}
			        	<a href='#' class='paginate' data-page='{{ incident_list.previous_page_number }}'>
							<i class='glyphicon glyphicon-backward'></i> {% trans "previous" %}
			        	</a>
			        {% endif %}

			        <span class="current">
			            {% blocktrans with number=incident_list.number num_pages=incident_list.paginator.num_pages %}(page {{ number }} of {{ num_pages }}){% endblocktrans %}
			        </span>

			        {% if incident_list.has_next %}
			        	<a href='#' class='paginate' data-page='{{ incident_list.next_page_number }}'>
							{% trans "next" %} <i class='glyphicon glyphicon-forward'></i>
			        	</a>
			        {% endif %}
			    </span>
			</div>
		{% endif %}
	</div>
{% else %}
	<div class='nothing_to_show'>{% trans "No incidents to show." %}</div>
{% endif %}
