{% extends "base.html" %}
{% load i18n %}
{% load authorization %}
{% load static %}

{% block header %}
{% has_perm "incidents.view_statistics" as is_global_statistics_viewer %}
  {% if not is_global_statistics_viewer %}
  <div class="alert alert-primary text-center" role="alert">
    {%trans "Warning: You are not authorized to display statistics on all perimeters. The below graphs may be incomplete (they are only based on data from the perimeters to which you have permission)" %}
  </div>
{% endif %}
<h1>{%  trans "Sandbox" %}</h1>
{%endblock%}

{% block custom_js_top %}
<script src="{% static "vendor/d3/d3.min.js" %}"></script>
<script src="{% static "vendor/xlsx/xlsx.full.min.js" %}"></script>
<script src="{% static "fir_stats/stats.js" %}"></script>
<script src="{% static "custom_js/incident_display.js" %}"></script>
{% endblock %}

{% block custom_js %}
<script src="{% static "vendor/select/select2.min.js" %}"></script>

<script>
$(document).ready(function() {
  $("#id_concerned_business_lines").select2({ dropdownAutoWidth: true, theme: "bootstrap-5", width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',});
  $('#severity_comparator').select2({minimumResultsForSearch: -1, theme: "bootstrap-5", width: "20%"});
  $('#id_status').select2({minimumResultsForSearch: -1, theme: "bootstrap-5", width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',});
  $('#id_detection').select2({minimumResultsForSearch: -1, theme: "bootstrap-5", width: $( this ).data( 'width' ) ? $( this ).data( 'width' ) : $( this ).hasClass( 'w-100' ) ? '100%' : 'style',});
  $('#id_severity').select2({minimumResultsForSearch: -1, theme: "bootstrap-5", width: "80%"});
});
</script>
{% endblock%}

{% block custom_css %}
<link href="{% static "vendor/select/select2.css" %}" rel="stylesheet"/>
<link href="{% static "vendor/select/select2-bootstrap.css" %}" rel="stylesheet"/>
<link href="{% static "fir_stats/stats.css" %}" rel="stylesheet">
{% endblock %}


{% block content %}
<form id="stats-form" class="row">
  <fieldset class="col stats-fieldset-left">
    <div class="mb-2">
      <label>{% trans "From" %}</label>
      <input class="form-control" id="from-date" type="date" />
    </div>
    <div class="mb-2">
      <label>{% trans "To" %}</label>
      <input class="form-control" id="to-date" type="date" />
    </div>

    <div class="mb-2">
      <label>{% trans "Detection" %}</label>
      {{ form.detection }}
    </div>
    <div class="mb-2">
      <label>{% trans "Severity" %}</label>
      <div class="d-flex">
	  {% if display_severity_op %}
            <select name="severity_comparator" id="severity_comparator">
              <option value="et">=</option>
              <option value="lt">&lt;</option>
              <option value="lte">&lt;=</option>
              <option value="gt">&gt;</option>
              <option value="gte">&gt;=</option>
            </select>
	  {% endif %}
        {{ form.severity }}
    </div>
  </fieldset>

  <fieldset class="col stats-fieldset-center">
    <div>
      <label class="mb-2">{% trans "Categories" %}</label>
      <div>
        {% for c in categories %}
          <label class="mb-2 stats-category-checkbox">
            <input type="checkbox" name="category_selection" value="{{c.name}}"> {{c.name}}
          </label>
        {% endfor %}
      </div>
    </div>
  </fieldset>

    <fieldset class="col-sm-3">
      <div class="mb-2">
	<label>{% trans "Business lines" %}</label>
          {{ form.concerned_business_lines }}
      </div>
      <div class="mb-4">
        <label class="me-3">
          <input type="checkbox" name="is_incident"  value="incident"> {% trans "Incidents only" %}
        </label>
        <label>
          <input type="checkbox" name="is_major" value="major"> {% trans "Major incidents only" %}
        </label>
      </div>
      <button class="btn btn-primary" type="button" id="refresh-stats-button">{% trans "Go" %}</button>
    </fieldset>
</form>

<div class="row">
  <h4>{% trans "Overlapping years" %}</h4>
  <div class="d3-lines-chart" data-url="/api/stats?aggregation=date" data-compare="true" data-width="1000" data-height="400"></div>
</div>

<div class="row">
  <h4>{% blocktrans %}By category{% endblocktrans %}</h4>
  <div class="d3-lines-chart" data-url="/api/stats?aggregation=date,category" data-width="1000" data-height="400"></div>
</div>

<div class="row">
  <h4>{% trans "By category" %}</h4>
  <div class="col-sm">
    <div class="d3-multiple-donut-chart" data-url="/api/stats?aggregation=date,category" data-inner-radius="50" data-outer-radius="80"></div>
  </div>
  <div class="col-sm">
    <div class="d3-bars-chart" data-url="/api/stats?aggregation=date,category" data-width="500" data-height="500"></div>
  </div>
</div>

<div class="row">
  <h4>{% trans "By date" %}</h4>
  <div class="col-sm">
    <div class="d3-bars-chart" data-url="/api/stats?aggregation=date" data-width="600" data-height="500"></div>
  </div>
</div>

<div class="row">
  <h4>{% trans "By entity" %}</h4>
  <div class="col-sm">
    <div class="d3-multiple-donut-chart" data-url="/api/stats?aggregation=date,entity" data-inner-radius="50" data-outer-radius="80"></div>
  </div>
  <div class="col-sm">
    <div class="d3-bars-chart" data-url="/api/stats?aggregation=date,entity" data-width="500" data-height="500"></div>
  </div>
</div>
<div class="row">
  <h4>{% trans "By severity" %}</h4>
  <div class="col-sm">
    <div class="d3-multiple-donut-chart" data-url="/api/stats?aggregation=date,severity" data-inner-radius="50" data-outer-radius="80"></div>
  </div>
  <div class="col-sm">
    <div class="d3-bars-chart" data-url="/api/stats?aggregation=date,severity" data-width="500" data-height="500"></div>
  </div>
</div>

<div class="row">
  <h4>{% trans "By actor" %}</h4>
  <div class="col-sm">
    <div class="d3-multiple-donut-chart" data-url="/api/stats?aggregation=date,actor" data-inner-radius="50" data-outer-radius="80"></div>
  </div>
  <div class="col-sm">
    <div class="d3-bars-chart" data-url="/api/stats?aggregation=date,actor" data-width="500" data-height="500"></div>
  </div>
</div>

<div class="row mt-4">
  {% for s in status %}
    {% if s.flag != "final" %}
      <div class="col-sm">
	{% with status_title=s.name|add:" tickets" %}
        <h4>{% trans status_title %}</h4>
	{% endwith %}
	<div class="d3-bars-chart" data-url="/api/stats?status={{ s.name }}&aggregation=date" data-width="500" data-height="500"></div>
      </div>
    {% endif %}
  {% endfor %}
</div>

<div class="row mt-3">
  <h2 >{% trans "Matching incidents" %}</h2>
  <div class="container">
    <a href="#" class="load_all_incidents d-none">{% trans "Load selected incidents (may take some time)" %}</a>
  </div>

  <div class="container d-none export_links">
    {% blocktrans %}
      Export to <a data-filename="incidents.xlsx" class="export-link" href="#">XLSX</a> or <a data-filename="incidents.csv" class="export-link" href="#">CSV</a>
    {% endblocktrans %}
  </div>
</div>

{% include "events/table.html" %}

<div id="all_incidents" class="stats_incident_display" data-nopage="true" data-url="/api/incidents?">
    <p class="loading d-none">{% trans "Loading ..." %}<span class="d-none loading_count"> {% trans "(${page} of ${total_pages})" %}</span></p>
    <p class="nothing_to_show d-none">{% trans "No incident found." %}</p>
</div>
{% csrf_token %}

{% endblock %}
