{% extends "base.html" %}
{% load fir_plugins %}
{% load i18n %}
{% load static %}

{% block custom_js %}
<script src="{% static "custom_js/incident_display.js" %}"></script>

{% plugin_point "dashboard_static" %}
{% endblock %}

{% block content %}
<table id="incident-list-template" class="table table-hover d-none">
  {% include "events/table.html" %}
</table>

<div class="card mb-3">
	<div class="card-body">
		<h4><i class="bi bi-stars"></i>{%  trans "Starred Incidents" %}</h4>
		<div id="starred_incidents" class="incident_display" data-url="/api/incidents?is_starred=true{% for s in final_status %}&status__not={{ s.name }}{% endfor %}&ordering=-date">
		    {%  trans "Loading ..." %}
		    <div class="nothing_to_show d-none">{% trans "No incidents to show." %}</div>
		</div>
	</div>

</div>


<div class="card mt-3">
	<div class="tabbable">
		<div class="card-header">
			<ul class="nav nav-tabs card-header-tabs">
				{% for s in status %}
				{% if s.flag != "final" %}
				<li class="nav-item">
					<button class="nav-link{% if s.flag == "initial" %} active{% endif %}" data-bs-target="#tab_status_{{ s.id }}" data-bs-toggle="tab">{% trans s.name %}</button>
				</li>
				{% endif %}
				{% endfor %}
				<li class="nav-item">
					<button class="nav-link" data-bs-target="#tab_status_old" data-bs-toggle="tab">{% trans "Old" %}</button>
				</li>
				{% plugin_point "dashboard_tab" %}
			</ul>
		</div>
		<div class="card-body">
			<div class="tab-content tabs">
				{% for s in status %}
				{% if s.flag != "final" %}
				<div class="tab-pane{% if s.flag == "initial" %} active{% endif %} incident_display table-responsive" id="tab_status_{{ s.id }}" data-url="/api/incidents?status={{ s.name }}&ordering=-date&page_size=20">
					{%  trans "Loading ..." %}
					<div class="nothing_to_show d-none">{% trans "No incidents to show." %}</div>
				</div>
				{% endif %}
				{% endfor %}

				<div class="tab-pane incident_display table-responsive" id="tab_status_old" data-url="/api/incidents?status={{ initial_status.name }}&ordering=last_comment_date&page_size=20">
					{%  trans "Loading ..." %}
					<div class="nothing_to_show d-none">{% trans "No incidents to show." %}</div>
				</div>
				{% plugin_point "dashboard_tab_content" %}
			</div>
		</div>
	</div>
</div>

{% csrf_token %}
{% endblock %}
