{% extends "base.html" %}
{% load fir_plugins %}
{% load i18n %}
{% load staticfiles %}

{% block custom_js %}
<script src="{% static "custom_js/incident_display.js" %}"></script>

{% plugin_point 'dashboard_static' %}
{% endblock %}

{% block content %}
<h4>{%  trans "Starred Incidents" %}</h4>

<div id='starred_incidents' class='incident_display' data-url="{% url 'dashboard:starred' %}">
{%  trans "Loading ..." %}
</div>

<div class='tabbable'>
	<ul class='nav nav-tabs'>
		<li class='active'>
			<a href='#tab_open' data-toggle='tab'>{%  trans "Open" %}</a>
		</li>

		<li >
			<a href='#tab_qualification_in_progress' data-toggle='tab'>{%  trans "Qualification in progress" %}</a>
		</li>

		<li >
			<a href='#tab_qualified' data-toggle='tab'>{%  trans "Qualified" %}</a>
		</li>
		<li >
			<a href='#tab_ap_defined' data-toggle='tab'>{%  trans "AP Defined" %}</a>
		</li>

		<li >
			<a href='#tab_ap_validated' data-toggle='tab'>{%  trans "AP Validated" %}</a>
		</li>

		<li >
			<a href='#tab_in_progress' data-toggle='tab'>{%  trans "In progress" %}</a>
		</li>

		<li>
			<a href='#tab_closed' data-toggle='tab'>{%  trans "Closed" %}</a>
		</li>

		<!--<li>
			<a href='#tab_old' data-toggle='tab'>{%  trans "Old" %}</a>
		</li>-->

		<li class="pull-right">
			<a href='#tab_assigned' data-toggle='tab'><strong>{% trans "Assigned to me" %}</strong></a>
		</li>

		{% plugin_point 'dashboard_tab' %}
	</ul>

	<div class='tab-content tabs'>
		<div class='tab-pane active incident_display table-responsive' id='tab_open' data-url="{% url 'dashboard:open' %}">
			{%  trans "Loading ..." %}
		</div>

		<div class='tab-pane incident_display table-responsive' id='tab_qualification_in_progress' data-url="{% url 'dashboard:qualification_in_progress' %}">
			{%  trans "Loading ..." %}
		</div>

		<div class='tab-pane incident_display table-responsive' id='tab_qualified' data-url="{% url 'dashboard:qualified' %}">
			{%  trans "Loading ..." %}
		</div>

		<div class='tab-pane incident_display table-responsive' id='tab_ap_defined' data-url="{% url 'dashboard:ap_defined' %}">
			{%  trans "Loading ..." %}
		</div>

		<div class='tab-pane incident_display table-responsive' id='tab_ap_validated' data-url="{% url 'dashboard:ap_validated' %}">
			{%  trans "Loading ..." %}
		</div>

		<div class='tab-pane incident_display table-responsive' id='tab_in_progress' data-url="{% url 'dashboard:in_progress' %}">
			{%  trans "Loading ..." %}
		</div>


		<div class='tab-pane incident_display table-responsive' id='tab_closed' data-url="{% url 'dashboard:closed' %}">
			{%  trans "Loading ..." %}
		</div>


	<!--	<div class='tab-pane incident_display table-responsive' id='tab_old' data-url="{% url 'dashboard:old' %}">
			{%  trans "Loading ..." %}
		</div>-->

		
		<div class='tab-pane incident_display table-responsive' id='tab_assigned' data-url="{% url 'dashboard:assigned' %}">
			{%  trans "Loading ..." %}
		</div>
		

		{% plugin_point 'dashboard_tab_content' %}
	</div>
</div>
{% endblock %}
