{% load fir_plugins %}
{% load i18n %}
{% load staticfiles %}
{% load authorization %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="utf-8">
    <title>{%block title%}FIR{%endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Le styles -->
    <link href="{% static "css/jquery-ui.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/bootstrap-datetimepicker.min.css" %}" rel="stylesheet">
    <link href="{% static "custom_css/fir.css" %}" rel="stylesheet">
    {% block custom_js_top %}{% endblock %}
    {% block custom_css %}{% endblock%}

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{% static "js/html5.js" %}"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="shortcut icon" href="{% static "img/favicon.png" %}">
  </head>

  <body>

    <div class="navbar-sm">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button id="header-collapse" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'dashboard:main' %}">FIR</a>
          </div>

          <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
              {% if request.session.can_report_event %}
              <li>
                <div class="btn-group navbar-btn">
                  <button class="btn btn-danger" onclick="javascript:location.href='{% url 'events:new' %}'">
                    {% trans "New event" %} <span class="glyphicon glyphicon-fire"></span>
                  </button>
                  {% if request.session.has_incident_templates %}
                  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
                    <span class="caret"></span>
                  </button>
                  <ul class="dropdown-menu">
                    {% for template in request.session.incident_templates %}
                    <li>
                      <a href="{% url 'events:new' %}?template={{ template.name }}">
                        {{ template.name }}
                      </a>
                    </li>
                    {% endfor %}
                    <li class="divider"></li>
                    <li><a href="{% url 'events:new' %}">{% trans "Default" %}</a></li>
                  </ul>
                  {% endif %}
                </div>
              </li>
              {% endif %}
              <li id='dashboard-nav'><a href="{% url 'dashboard:main' %}">{% trans "Dashboard" %}</a></li>
              <li id='incidents-nav'><a href="{% url 'incidents:index' %}">{% trans "Incidents"%}</a></li>
              <li id='events-nav'><a href="{% url 'events:index' %}">{% trans "Events" %}</a></li>
            {% plugin_point 'base_navbar' %}
              {% has_perm 'incidents.view_statistics' model='incidents.Incident' as can_view_statistics %}
              {% if can_view_statistics %}
              <li id='incidents-nav' class='dropdown'>
                <a class='dropdown-toggle' data-toggle='dropdown' href="#">{% trans "Stats" %}</a>
                <ul class='dropdown-menu'>
                  <li><a href="{% url 'stats:yearly' %}">{% trans "Yearly" %}</a></li>
                  <li><a href="{% url 'stats:quarterly_bl_stats_default' %}">{% trans "Quarterly" %}</a></li>
                  <li><a href="{% url 'stats:yearly_compare' %}">{% trans "Compare with previous year" %}</a></li>
                  <li><a href="{%url 'stats:quarterly_major' %}">{% trans "Major incidents" %}</a></li>
                  <li><a href="{%url 'stats:sandbox' %}">{% trans "Sandbox" %} <i class='glyphicon glyphicon-asterisk'></i></a></li>
                  <li><a href="{%url 'stats:attributes' %}">{% trans "Attributes" %}</a></li>
                </ul>
              </li>
              {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <div class='usergreet'>
                  {% trans "Currently logged in as" %} <a href="{% url 'user:profile' %}"><strong>{{ user }}</strong></a> [
                    <a href="{% url 'logout' %}">{% trans "logout" %}</a>
                  ]
                  {% if user.is_staff %}
                    [ <a href="{% url 'admin:index' %}">{% trans "Admin" %}</a> ]
                  {% endif %}
                </div>
              </li>
            </ul>

              <div id="search-bar" class="form-group" style="display:inline;">
                <div class="input-group" style="display:table;">
                  <span class="input-group-addon" style="width:1%;"><span class="glyphicon glyphicon-search"></span></span>
                  <form method="GET" action="{% url 'search' %}">
                    <input class="form-control" name="q" placeholder="{% trans 'search...' %}" autocomplete="off" type="text" {% if query_string %}value='{{query_string}}'{% endif %}>
                  </form>
                </div>
              </div>

          </div>
        </div>
      </nav>
    </div>

    <div class="container-fluid">
      {% block header %}{% endblock %}
      {% block content %}{% endblock %}
    </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="{% static "js/jquery.min.js" %}"></script>
    <script src="{% static "js/jquery-ui.min.js" %}"></script>
    <script type="text/javascript" src="{% static "momentjs/moment.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>
    <script type="text/javascript" src="{% static "custom_js/ajax.js" %}"></script>
    <script type="text/javascript" src="{% static "custom_js/auto_ajax.js" %}"></script>

    {% block custom_js %}{% endblock %}

    <footer class="hidden-xs">
      <div>
        FIR - Fast Incident Response - <a href='https://cert.societegenerale.com/'>CERT Soci&eacute;t&eacute; G&eacute;n&eacute;rale {% now "Y"%}</a> &copy; bug reports go to <a href='https://github.com/certsocietegenerale/FIR' target='blank'>the GitHub repository</a>
      </div>
    </footer>
  </body>
</html>
