{% for attribute in attributes %}
<tr id='attribute-{{attribute.id}}' data-name='{{attribute.name}}' data-value='{{attribute.value}}' class='attribute-item'>
	<td class='head'>{{attribute.name}}</td>
	<td>
		{{attribute.value}}
	</td>
	<td>
		<form action="{% url 'incidents:delete_attribute' event.id attribute.id %}" method='POST' data-ajaxform data-action='remove' data-target='#attribute-{{attribute.id}}' data-hideifnone='#attributes' data-hideifnone-selector='.attribute-item'>
			{% csrf_token %}
			<button type="submit" class="btn btn-xs btn-link icon">
				<i class="glyphicon glyphicon-remove"></i>
			</button>
		</form>
	</td>
</tr>
{% endfor %}
