{% load markdown %}
<tr id="comment_id_{{ comment.id }}">
  <td class="comment-date">{{ comment.date|date:"Y-m-d G:i" }}</td>
  <td>{{ comment.opened_by|default:"someone" }}</td>
  <td class="text-break">{{ comment.comment|markdown }}</td>
  <td>{{ comment.action }}</td>
  <td>
    {% if can_handle_incident or user == comment.opened_by %}
      <a href="#" data-id="{{ comment.id }}" class="edit-comment"><i class="bi bi-pencil"></i></a>
    {% endif %}
  </td>
  <td>
    {% if can_handle_incident or user == comment.opened_by %}
      <a href="#" data-id="{{ comment.id }}" class="delete-comment"><i class="bi bi-x-circle"></i></a>
    {% endif %}
  </td>
</tr>
