{% extends "base.html" %}
{% load add_css_class %}
{% load i18n %}
{% load staticfiles %}
{% load authorization %}
{% load markdown %}

{% block custom_css %}
<link href="{% static "select/select2.css" %}" rel="stylesheet"/>
<link href="{% static "select/select2-bootstrap.css" %}" rel="stylesheet"/>
<link href="{% static "css/bootstrap-datetimepicker.min.css" %}" rel="stylesheet"/>


{% endblock %}

{% block custom_js %}
<script src="{% static "select/select2.min.js" %}"></script>
{% rich_edit_static %}
<script>
$(document).ready(function() {
	$("select#id_concerned_business_lines").select2({ dropdownAutoWidth: true, width: '100%' });
	$("select#id_category").select2();
	$('select#id_status').select2({minimumResultsForSearch: -1, width: '90px'});
	$('select#id_detection').select2({minimumResultsForSearch: -1, width: '90px'});
	$('select#id_severity').select2({minimumResultsForSearch: -1, width: '90px'});
	$('select#id_actor').select2({minimumResultsForSearch: -1, width: '90px'});
	$('select#id_plan').select2({minimumResultsForSearch: -1, width: '90px'});
	$('select#id_confidentiality').select2({minimumResultsForSearch: -1, width: '90px'});
});
</script>

<script src="{% static "js/bootstrap-datetimepicker.min.js" %}"></script>

{% endblock %}


{% block content %}

	<div class="container-fluid labels-ontop">
		{% if not i %}
			<form action="{% url 'events:new' %}" method="post">
		{% else %}
			<form action="{% url 'incidents:edit' i.pk %}" method="post">
		{% endif %}

			<div class="row header">
				{% if not i %}
					<h1 class="col-sm-11">{% trans "New event" %}</h1>
				{% else %}
					<h1 class="col-sm-11">{% if i.is_incident %}{% trans "Incident" %}{%else%}{% trans "Event" %}{%endif%}: {{ i.subject }}</h1>
				{% endif %}
				<div class="col-sm-1">
					<button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
				</div>
			</div>

			<div class="row">
				{% csrf_token %}

				<div class="col-sm-6">
					<fieldset>

						<legend>{% trans "Summary" %}</legend>
						{% if error_message %}
							<p class='text-error'>{{ error_message }}</p>
						{% endif %}

						<div class="row">
							<div class="col-sm-6 form-group{% if form.subject.errors%} has-error{%endif%}">
								<label for="id_subject">{% trans "Subject" %}</label>
								{{ form.subject|add_css_class:"form-control" }}
								{% include 'events/_form_errors.html' with errors=form.subject.errors %}
							</div>
							<div class="col-sm-6 form-group{% if form.concerned_business_lines.errors%} has-error{%endif%}">
								<label id="id_concerned_business_lines">{% trans "Business Lines" %}</label>
								{{ form.concerned_business_lines|add_css_class:"form-control" }}
								{% include 'events/_form_errors.html' with errors=form.concerned_business_lines.errors %}
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 form-group{% if form.category.errors%} has-error{%endif%}">
								<label id="id_category">{% trans "Category" %}</label>
								{{ form.category|add_css_class:"form-control" }}
								{% include 'events/_form_errors.html' with errors=form.category.errors %}
							</div>
							<div class="col-sm-2 form-group{% if form.status.errors%} has-error{%endif%}">
								<label id="id_status">{% trans "Status" %}</label>
								{{ form.status|add_css_class:"form-control" }}
								{% include 'events/_form_errors.html' with errors=form.status.errors %}
							</div>
							<div class="col-sm-2 form-group{% if form.detection.errors%} has-error{%endif%}">
								<label id="id_detection">{% trans "Detection" %}</label>
								{{ form.detection|add_css_class:"form-control" }}
								{% include 'events/_form_errors.html' with errors=form.detection.errors %}
							</div>
							<div class="col-sm-2 form-group{% if form.severity.errors%} has-error{%endif%}">
								<label id="id_severity">{% trans "Severity" %}</label>
								{{ form.severity|add_css_class:"form-control" }}
								{% include 'events/_form_errors.html' with errors=form.severity.errors %}
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6 form-group{% if form.date.errors%} has-error{%endif%}">
								<label id="id_date">{% trans "Date / Time" %}</label>
								{{ form.date|add_css_class:"form-control datetime" }}
								{% include 'events/_form_errors.html' with errors=form.date.errors %}
							</div>
							<div class="col-sm-1 form-group{% if form.confidentiality.errors%} has-error{%endif%}">
								<label id="id_confidentiality">{% trans "Confidentiality" %}</label>
								{{ form.confidentiality|add_css_class:"form-control" }}
								{% include 'events/_form_errors.html' with errors=form.confidentiality.errors %}
							</div>
                            {%  has_perm 'incidents.handle_incidents' model=form as can_handle_incident %}
                            {% if can_handle_incident %}
							<div class="col-sm-3 col-sm-offset-2 checkbox aligned-with-stack{% if form.is_incident.errors%} has-error{%endif%}">
								<label data-toggle='collapse' data-target='#incident_fields'>{{ form.is_incident }} {% trans "Is an incident" %}</label>
								{% include 'events/_form_errors.html' with errors=form.is_incident.errors %}
							</div>
                            {% endif %}

						</div>
					</fieldset>
				</div>
				<div class="col-sm-6">
					{% if can_handle_incident %}

					<fieldset id="incident_fields" class='details collapse {% if form.is_incident.value %}in{%endif%}'>
						<legend>{% trans "Incident details" %}</legend>

						<div class="row">
							<div class="col-sm-2 form-group{% if form.actor.errors%} has-error{%endif%}">
								<label id="id_actor">{% trans "Actor" %}</label>
								{{ form.actor|add_css_class:"form-control" }}
								{% include 'events/_form_errors.html' with errors=form.actor.errors %}
							</div>
							<div class="col-sm-2 form-group{% if form.plan.errors%} has-error{%endif%}">
								<label id="id_plan">{% trans "Plan" %}</label>
								{{ form.plan|add_css_class:"form-control" }}
								{% include 'events/_form_errors.html' with errors=form.plan.errors %}
							</div>
							<div class="col-sm-6 checkbox aligned-with-stack{% if form.is_major.errors%} has-error{%endif%}">
								<label>{{ form.is_major }} {% trans "Major incident" %}</label>
								{% include 'events/_form_errors.html' with errors=form.is_major.errors %}
							</div>
						</div>
					</fieldset>
					{% endif %}
				</div>
			</div>
			<div class="row">
				<fieldset class="col-sm-12">
					<legend>{% trans "Description" %}</legend>
					{% rich_edit form.description %}
					{% include 'events/_form_errors.html' with errors=form.description.errors %}
				</fieldset>
				{{ form.non_field_errors }}
			</div>
			<button class="btn btn-primary" type="submit">{% trans "Save" %}</button>
		</form>
	</div>
{% endblock %}
