{% load i18n %}
{% if todos %}
	<table class='table table-hover table-condensed'>
		<thead>
			<tr>
				<th></th>
				<th>{%  trans "Task" %}</th>
				<th>{%  trans "Incident" %}</th>
				<th>{%  trans "Category" %}</th>
				<th>{%  trans "Business line" %}</th>
				<th>{%  trans "Delete" %}</th>
			</tr>
		</thead>
		<tbody>
			{% for item in todos %}
				{% include 'fir_todos/single.html' with dashboard=True %}
			{% endfor %}
		</tbody>
	</table>

	{% if todos.paginator %}
		<div>
		    <span class="step-links">
				{% if todos.has_previous %}
			        <a href='#' class='paginate' data-page='{{ todos.previous_page_number }}'>
                        <i class='glyphicon glyphicon-backward'></i> {%  trans "previous" %}
			        </a>
				{% endif %}

				<span class="current">
					{% blocktrans with number=todos.number num_pages=todos.paginator.num_pages %}(page {{ number }} of {{ num_pages }}){% endblocktrans %}
				</span>

			    {% if todos.has_next %}
					<a href='#' class='paginate' data-page='{{ todos.next_page_number }}'>
                        {%  trans "next" %} <i class='glyphicon glyphicon-forward'></i>
			        </a>
			    {% endif %}
			</span>
		</div>
	{% endif %}
{% else %}
	<div class='nothing_to_show'>{%  trans "No tasks to show." %}</div>
{% endif %}
